@import "root.css";

/*Hero*/
.page-hero {
  min-height: 80vh;

  background-image:
    linear-gradient(to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)),
    var(--bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--bg-color);

  background-attachment: fixed;
  padding: 50px 15px;


}

.page-hero__content {
  width: 80%;
  max-width: 1300px;

}

.page-hero h1 {
  font-size: 6rem;
  margin-bottom: 20px;
}

.home-menu__description {
  margin-bottom: 50px;
}

/*Dishes*/
.home-menu {
  background-color: var(--bg-section);
  padding: 30px 0;
}

.home-menu__category-list {

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;


}

.home-menu__category--main {
  position: relative;
  min-height: 275px;
  flex-basis: 85%;
  flex-grow: 3;
}

.home-menu__category--soups,
.home-menu__category--starters,
.home-menu__category--desserts,
.home-menu__category--pasta {
  min-height: 120px;
  flex-grow: 1;
  position: relative;
  flex-basis: 50%;
}

.home-menu__name {
  position: absolute;
  top: 15px;
  left: 15px;
  color: var(--terciary-color);

}

.home-menu__category--main .home-menu__name {
  font-size: 2rem;
}

.home-menu__image {
  position: absolute;
  top: 0;
  left: 0;

  object-fit: cover;
  overflow: hidden;
}

.home-menu__category {
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--bg-color);
  border: 0.5px solid var(--terciary-color);
  margin: 0;
  overflow: hidden;
  padding: 15px;

}


.home-menu__section {
  display: flex;
  flex-direction: column;

}

.home-menu__section h2 {
  padding: 0 15px;
}

.home-menu__secondary-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.home-menu__category--small {
  min-height: 150px;
  padding: 20px;
  flex-basis: 100%;
  flex-grow: 1;
}

.home-menu__category--small .home-menu__name {
  font-size: 1.35rem;
}

.home-menu__category-link {
  text-decoration: none;
  color: var(--terciary-color);
  transition: color 0.3s ease;
}

.home-menu__category-link:visited,
.home-menu__category-link:hover,
.home-menu__category-link:active,
.home-menu__category-link:focus,
.home-menu__category-link:link {
  color: var(--terciary-color);
}

.home-menu__category:hover .home-menu__image {
  transform: scale(1.1);
  overflow: hidden;
}

.home-menu__category--main:hover .home-menu__name {
  font-size: 2.5rem;
}

.home-menu__category--small:hover .home-menu__name {
  font-size: 2rem;
}

.home-menu__image {
  opacity: 1;
  filter: brightness(50%);
}



@media screen and (min-width: 480px) {
  .home-menu {
    padding: 30px 0;
  }

  .home-menu__category-list {
    display: flex;
    flex-direction: column;
  }

  .home-menu__category--main {
    min-width: 360px;
    min-height: 250px;
    padding: 20px;
    flex-basis: 100%;
  }

  .home-menu__category--main .home-menu__name {
    font-size: 3rem;
  }

  .home-menu__category--small {
    min-height: 180px;
    padding: 20px;
    flex-basis: 50%;
  }

  .home-menu__category--small .home-menu__name {
    font-size: 1.5rem;
  }

  .home-menu__secondary-list {
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
  }

  .home-menu__category--main:hover .home-menu__name {
    font-size: 3.5rem;
  }

  .home-menu__category--small:hover .home-menu__name {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 860px) {
  .home-menu {
    padding: 50px 0;
  }

  .home-menu__category-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }

  .home-menu__category--main {
    flex-basis: 50%;
    min-width: 460px;
    min-height: 700px;
    padding: 40px;
  }

  .home-menu__category--main .home-menu__name {
    font-size: 3rem;
    ;
  }

  .home-menu__category--small {
    min-height: 230px;
    padding: 20px;
    flex-basis: 50%;

  }

  .home-menu__category--small .home-menu__name {
    font-size: 1.75rem;
  }

  .home-menu__secondary-list {
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;

  }


  .home-menu__section {
    max-width: 1300px;
    width: 100%;
  }



  .home-menu__category--main:hover .home-menu__name {
    font-size: 4rem;
  }

  .home-menu__category--small:hover .home-menu__name {
    font-size: 2.5rem;
  }
}


@media screen and (min-width: 1300px) {
  .home-menu__section h2 {
    padding: 0;
  }

}
