@import "root.css";

html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--font);
  font-size: var(--basic-font-size);
  background-color: var(--bg-color);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-layout__container {
  max-width: 1300px;
  margin: 0 auto;

}

img {
  display: block;
  height: 100%;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   font: inherit;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.site-layout--hidden {
  display: none;

}

.list__empty-message {
  font-size: 1.2rem;
  color: var(--primary-color);
  text-align: center;
  margin-top: 20px;
}


.pg-button {
  justify-content: center;
  font-family: var(--font);
  font-size: var(--basic-font-size);
  border: 1px solid rgb(206, 198, 177);
  width: 100%;
  box-shadow: 4px 4px 8px rgb(204, 198, 183);
  background-color: var(--btn-bg-light);
  padding: 10px 20px;
  margin-top: 20px;
  transition: var(--transition);
}

.pg-button:hover {
  background-color: var(--btn-bg-dark);
  cursor: pointer;
}

.modal-button {
  justify-content: center;
  font-family: var(--font);
  font-size: var(--basic-font-size);
  border: 1px solid rgb(206, 198, 177);
  box-shadow: 4px 4px 8px rgb(204, 198, 183);
  background-color: var(--btn-bg-light);
  padding: 10px 20px;
  margin-top: 10px;
  transition: var(--transition);
  
}

.modal-button:hover {
  background-color: var(--btn-bg-dark);
  cursor: pointer;
}

/*Header*/
.site-header {
  width: 100%;
  height: var(--header-height);

  background-color: var(--bg-color);
  padding: 15px;
}

.logged-in-info__email {
  font-size: 0.8rem;
  color: var(--primary-color);
  margin-right: 10px;
  justify-self: right;
}

.site-header__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.site-header__desktop-menu {

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

}

.site-header__logo img {
  width: 100px;
  height: 100px;
}

.site-header__menu-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-items: flex-end;
  list-style-type: none;
}

.site-header__menu-link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  transition: color 0.3s ease;
}

.site-header__menu-link:hover {
  color: var(--secondary-color);
}

.site-header__menu {
  display: none;
  height: 0;
}

.site-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.site-header__wrapper:not(:has(.logged-in-info__email)) {
  justify-content: center;
}


/* The Overlay */
.site-header__overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;

  z-index: 10;

  left: 0;
  top: 0;
  background-color: rgba(60, 59, 38, 0.9);
  overflow-x: hidden;

  transition: 0.5s;

}


.site-header__overlay-content {
  position: relative;
  top: 25%;

  width: 100%;

  text-align: center;

  margin-top: 30px;

}


.site-header__overlay-link {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: var(--terciary-color);
  display: block;

  transition: 0.2s;

}

.site-header__overlay-link:hover,
.site-header__overlay-link:focus {

  font-weight: bold;
}

.site-header__overlay .site-header__close-button {
  position: absolute;
  top: 20px;
  right: 20px;

  border: 0;
  background: transparent;
  font-size: 3rem;
  cursor: pointer;
  padding: 5px;
  color: var(--terciary-color);
}

.site-header__overlay--open {
  display: block;
}

.site-header__open-button {
  border: 0;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  padding: 5px;
  color: var(--primary-color);
  justify-self: center;

  display: inline-block;
}

.site-header__menu-icon {
  display: block;


}

.site-header__logout-button {
  border: 0;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;

  color: var(--primary-color);
}



/*Footer*/

.site-footer {
  background-color: var(--bg-footer);
  color: var(--terciary-color);
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: 2px -8px 100px 3px var(--terciary-color);
  margin-top: auto;
}





@media screen and (max-height: 479px) {
  .site-header__overlay-link {
    font-size: 2rem;
  }

  .site-header__overlay .site-header__close-button {
    font-size: 40px;
    top: 15px;
    right: 35px;

  }
}


@media screen and (min-width: 600px) {


  .site-header__menu-icon {
    display: none;
    height: 0;
  }

  .site-header__menu {
    display: block;

  }

  .page-hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
  }

  .logged-in-info__email {
    font-size: 1.1rem;

  }

}

@media screen and (min-width: 860px) {
  .site-header__logo img {
    width: 100px;
    height: 100px;
  }

  .page-hero h1 {
    font-size: 6rem;
    margin-bottom: 20px;
  }
}
